.form-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form-subcontainer {
  padding: 3vw 5% 10vw;
}

.loader-container-slot-select {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container-lead-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-loader {
  width: 4.5vw;
}

.logo-container {
  width: 100%;
  background-color: #000;
  padding: 1vw 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0vw 2vw;
  border-radius: 5px;
  height: 4vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #828282;
  border: 1px solid #828282;
  font-size: 1.5vw;
}

.info-button-icon {
  width: 2vw;
  height: 2vw;
  margin-right: 0.5vw;
  stroke: #828282;
}

.logo {
  width: 20vw;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group label {
  width: 100%;
  margin-bottom: 3vw;
}

.organizer-button-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 4vw;
  position: absolute;
  bottom: 5vw;
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .form-subcontainer {
    padding: 10vw 5% 20vw;
  }

  .loader-container-slot-select {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-container-lead-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-loader {
    width: 15vw;
  }

  .logo-container {
    width: 100%;
    background-color: #000;
    padding: 3vw 5%;
  }

  .logo {
    width: 40vw;
  }

  .info-button {
    padding: 0vw 4vw;
    border-radius: 5px;
    height: 8vw;
    font-size: 3vw;
  }

  .info-button-icon {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
    stroke: #828282;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
  }

  .organizer-button-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 4vw;
    position: absolute;
    bottom: 5vw;
  }
}
