.form-container {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.form-subcontainer {
  padding: 3vw 10% 5vw;
}

.loader-container-slot-select {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container-lead-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-loader {
  width: 4.5vw;
}

.logo-container {
  width: 100%;
  background-color: #000;
  padding: 1vw 5vw;
}

.logo {
  width: 20vw;
}

.select-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  padding: 15vw 0;
}

.select-modal-container {
  width: 60%;
  background-color: #000000;
  padding: 5vw;
  border: 2px solid #d2f176;
  border-radius: 10px;
  position: relative;
}
.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group label {
  width: 100%;
  margin-bottom: 3vw;
}

.organizer-button-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 4vw;
  position: absolute;
  bottom: 5vw;
}
