.form-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form-subcontainer {
  padding: 3vw 5% 5vw;
}

.loader-container-slot-select {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container-lead-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-loader {
  width: 4.5vw;
}

.logo-container {
  width: 100%;
  background-color: #000;
  padding: 1vw 0;
}

.logo {
  width: 20vw;
  margin-left: 5%;
}

.select-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  padding: 15vw 0;
}

.select-modal-container {
  width: 60%;
  background-color: #000000;
  padding: 5vw;
  border: 2px solid #d2f176;
  border-radius: 10px;
  position: relative;
}
.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group label {
  width: 100%;
  margin-bottom: 3vw;
}

.organizer-button-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 4vw;
  position: absolute;
  bottom: 5vw;
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .form-subcontainer {
    padding: 10vw 5% 20vw;
  }

  .loader-container-slot-select {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-container-lead-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-loader {
    width: 15vw;
  }

  .logo-container {
    width: 100%;
    background-color: #000;
    padding: 3vw 0;
  }

  .logo {
    width: 40vw;
    margin-left: 5%;
  }

  .select-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    padding: 15vw 0;
  }

  .select-modal-container {
    width: 60%;
    background-color: #000000;
    padding: 5vw;
    border: 2px solid #d2f176;
    border-radius: 10px;
    position: relative;
  }
  .radio-group {
    display: flex;
    flex-direction: column;
  }

  .organizer-button-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 4vw;
    position: absolute;
    bottom: 5vw;
  }
}
