.info-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.info-modal-overlay {
  width: 100%;
  height: 100lvh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.info-modal-overlay::-webkit-scrollbar {
  display: none;
}

.info-modal-container {
  width: 80%;
  background-color: #111111;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  top: 5vw;
  padding: 4vw 5vw;
  position: relative;
  margin: 0 auto 5vw;
}

.info-modal-close-icon {
  stroke: #828282;
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 3vw;
  right: 3vw;
  z-index: 4;
}

.info-section-container {
  margin-bottom: 5vw;
}

.info-section-container p {
  margin-bottom: 3vw;
  font-size: 1.5vw;
  font-weight: 300;
  color: #ffffff;
}
.info-section-container p a,
.info-span-green {
  color: #adadad;
}

.info-span-temperature {
  width: 2vw;
  height: 2vw;
  display: inline-block;
  margin-right: 1vw;
}

.info-span-temperature.red {
  background-color: #ff4d4d;
}
.info-span-temperature.orange {
  background-color: #ff9900;
}
.info-span-temperature.blue {
  background-color: #4da6ff;
}

@media (max-width: 480px) {
  .info-modal-close-icon {
    width: 9vw;
    height: 9vw;
    top: 2vw;
    right: 1vw;
  }

  .info-modal-container {
    top: 5vw;
    padding: 8vw 5vw;
    position: relative;
    margin-bottom: 10vw;
  }

  .info-section-container p {
    margin-bottom: 3vw;
    font-size: 2.8vw;
  }
}
