* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

html {
  background: #222222;
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 39%,
    rgba(0, 0, 0, 1) 51%
  );
}

.App {
  min-height: 100vh;
  background: #111111;
}

h2 {
  margin-bottom: 3vw;
  color: #d2f176;
  font-family: "Inter", sans-serif;
}

h3 {
  margin-bottom: 2vw;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

h6 {
  font-size: 1.8vw;
  font-weight: 500;
  color: #d2f176;
  margin-bottom: 0.5vw;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0vw 2vw;
  border-radius: 5px;
  height: 6vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button.solid {
  background-color: #d2f176;
  color: #333333;
  border: 2px solid #d2f176;
  font-size: 1.5vw;
  font-weight: 600;
  border: 2px solid #d2f176;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

button.transparent-gray {
  background-color: transparent;
  color: #828282;
  border: 2px solid #adadad;
  font-size: 1.5vw;
}

button.transparent-green {
  background-color: transparent;
  color: #d2f176;
  border: 2px solid #d2f176;
  font-size: 1.5vw;
}

/* Disabled */
button:disabled {
  opacity: 0.4;
  box-shadow: none;
}

@media (max-width: 480px) {
  h2 {
    margin-bottom: 5vw;
    color: #d2f176;
    font-family: "Inter", sans-serif;
  }

  h3 {
    margin-bottom: 4vw;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  }

  h6 {
    font-size: 3vw;
  }

  button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 0vw 3vw;
    border-radius: 5px;
    height: 12vw;
    border: 2px solid #d2f176;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
  }

  button.solid {
    background-color: #d2f176;
    color: #333333;
    border: 2px solid #d2f176;
    font-size: 5vw;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  button.transparent-gray {
    background-color: transparent;
    color: #828282;
    border: 2px solid #adadad;
    font-size: 5vw;
  }

  button.transparent-green {
    background-color: transparent;
    color: #d2f176;
    border: 2px solid #d2f176;
    font-size: 5vw;
  }

  /* Disabled */
  .lead-form button[type="submit"]:disabled {
    opacity: 0.6;
    box-shadow: none;
  }
}
