* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.App {
  min-height: 100vh;
  /* background: radial-gradient(
    circle at 30% 20%,
    #1f4a47 0%,
    #0f2f2c 35%,
    #081c1a 65%,
    #051312 100%
  ); */
  background: #111111;
}

h2 {
  margin-bottom: 3vw;
  color: #d2f176;
  font-family: "Inter", sans-serif;
}

h3 {
  margin-bottom: 2vw;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0vw 2vw;
  border-radius: 5px;
  height: 4.5vw;
  border: 2px solid #d2f176;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.file-button {
  width: 16vw;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 1vw 2vw;
  border-radius: 5px;
  border: 2px solid #d2f176;
  cursor: pointer;
  background-color: transparent;
  color: #828282;
  border: 2px solid #adadad;
}

button.solid {
  background-color: #d2f176;
  color: #333333;
  border: 2px solid #d2f176;
  font-size: 1.5vw;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

button.transparent-gray {
  background-color: transparent;
  color: #828282;
  border: 2px solid #adadad;
  font-size: 1.5vw;
}

button.transparent-green {
  background-color: transparent;
  color: #d2f176;
  border: 2px solid #d2f176;
  font-size: 1.5vw;
}

.lead-form button[type="submit"]:hover:not(:disabled) {
}

/* Disabled */
.lead-form button[type="submit"]:disabled {
  opacity: 0.6;
  box-shadow: none;
}
